body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 550px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #48e048;
  border-radius: 5px;
}

h1 {
  color: rgb(135, 135, 135);
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-hight: 20px;
}
